
<div id = "form-heading">
	<h3>Users in the Organization</h3><%= image_tag 'divider.png' %>
</div>

<div class="row-fluid">
	<% @users.each do |user| %>
	<div>
		<ul class="thumbnails with-caption">
			<li style="width:110px; margin: 0px;">
				<div style="border: 0px;" class="thumbnail">

					<%= link_to image_tag(user.profile_photo, :style => "height: 150px; width: 100px;"), user, :class => 'thumbnail', :'data-toggle' => 'show_modal', :'data-target' => '#show_modal', :id => "image_modal" %>

					<div class="caption">
						<p><%=user.first_name.capitalize%><small> <%=user.role%></small></p>
					</div>

				</div>
			</li>
			<% end %>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
// Support for AJAX loaded modal window.

$('[data-toggle="show_modal"]').click(function(e) {
	e.preventDefault();
	var url = $(this).attr('href');
	if (url.indexOf('#') == 0) {
		$(url).modal('open');
	} else {
		$.get(url, function(data) {
			$('<div class="modal hide fade">' + data + '</div>').modal();
		}).success(function() { $('input:text:visible:first').focus(); });
	}
});
});
</script>