<script type="text/javascript">
$(document).ready(function() {
// Support for AJAX loaded modal window.
// Focuses on first input textbox after it loads the window.
$('[data-toggle="show_modal"]').click(function(e) {
e.preventDefault();
var url = $(this).attr('href');
if (url.indexOf('#') == 0) {
$(url).modal('open');
} else {
$.get(url, function(data) {
$('<div class="modal hide fade">' + data + '</div>').modal();
}).success(function() { $('input:text:visible:first').focus(); });
}
});

});

</script>

<h4>List of all users</h4><br/>

<span class="row-fluid">
<% @users.each do |user| %>
<% for i in 1..5 %>
<div class="container">
<ul class="thumbnails with-caption">
<li style="width:110px" class="span2">
<div style="border: 0px;" class="thumbnail" id="image_div">

  <%= link_to image_tag(user.profile_photo), user, :class => 'thumbnail', :'data-toggle' => 'show_modal', :'data-target' => '#show_modal', :id => "image_style" %>
        
<div class="caption">
<p><%=user.first_name.capitalize%><small> <%=user.role%></small></p>
</div>

</div>
</li>
<% end %>
<% end %>
</ul>
</div>
</span>


