

<div class = "hero-unit VISIBLE-DESKTOP">
<center><h3><i>New Project</i></h3></center>
<hr>

<%= form_for(:project, :url => { :action => :create }, :html => {:method => :post}) do |f| %>
  
<%= render :partial => "form", :locals => { :f => f } %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', projects_path, :class => 'btn btn-mini' %>

</div>


<div class="win-commandlayout">
      <a class="win-command" href="#">
         <span class="win-commandicon win-commandring icon-home"></span>
         <span class="win-label">Home</span>
      </a>
 
      <hr class="win-command" />
      ...
      <button class="win-command">
         <span class="win-commandicon win-commandring icon-reload"></span>
         <span class="win-label">Reload</span>
      </button>
      ...
</div>