
<table class = "breadcrumb table">

	<tr><th><h3>NEW PROJECT</h3><hr>
		<td><a href="<%= projects_path %>" class="win-command pull-right">
				<span class="win-commandicon win-commandring icon-back"></span>
				<span class="win-label">All Projects</span>
			</a>
		</td>
	</tr>

<%= form_for(:project, :url => { :action => :create }, :html => {:method => :post}) do |f| %>

<%= render :partial => "form", :locals => { :f => f } %>

<tr><td></td>
	<td><div class="actions"><%= f.submit %></div></td>
</tr>

<% end %>

</table>
