
<table class="table table-striped table-condensed table-hover">

<%= render :partial => "show" %>

</table>

<center>
<%= link_to 'Edit', edit_user_time_off_path(@user, @time_off), :class => "btn btn-mini" %> |
<%= link_to 'Back', user_time_offs_path, :class => "btn btn-mini btn-info" %>
</center>