/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-timepicker
 *= require_tree .
 */

#hand:hover
{
  cursor: pointer;
}

.black-background
{
  background-color: black;
  padding-bottom: 80%;
}

#profile-pic-background
{
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}

.first_image
{
  width: 85px;
  height: 50px;
  background-image: url('/images/menu1.png');
  background-repeat: no-repeat;
}
.second_image
{
  width: 85px;
  height: 55px;
  background-image: url('/images/menu.png');
}

#form-heading
{
  color: #24A0DA;
  text-transform: uppercase;
  text-align: center;
}

#profile-photo
{
  height: 40px;
  width: 42px;
}

#overflow
{
  text-overflow: ellipsis;
  overflow: hidden;
  width: 300px;
}

#slide
{
  background-color: black;
  vertical-align: center;
}

#dropdown-menu
{
  z-index: 100000;
  border-radius: 0px;
}

p#links
{
	font-size: 14px;
  font-family: 'proxima-nova';
  font-family: 'sans-serif';
}

p#links:hover
{
	background-color: #CCCCCC;
	border-radius: 6px;
  text-decoration: none;
}

a#feedback {
  top: 30%;
  right: 0px;
  width: 42px;
  height: 102px;
  position: fixed;
  z-index: 100;
  background-image: url("feedback_right.png");
  background-color:#CCCCCC
}

.thumbnails.with-caption p {
  margin: 0;
  padding-top: 0.5em;
}
.thumbnails.with-caption small:before {
  content: '\2014 \00A0';
}
.thumbnails.with-caption small {
  width: 100%;
  text-align: right;
  display: inline-block;
  color: #999;
}

.caption
{
   background-color: skyblue;
   margin-right: -8px;
}

.remove_underline
{
  text-decoration: none;
}

#modal
{
  display: block; 
  background-color: rgb(238, 238, 238);
}

span#head{

  background-image: url("icons.png");
  background-position: -572px -41px;
  z-index: 100;
  background-color: white;
  height:45px; width: 50px;
}

span#lock
{
  background-image: url("icons.png");
  background-position: -217px -95px;
  background-color: white;
  height:45px; width: 50px;
}

#my_input
{
  height: 57px;
  width: 240px;
  border-left: 0px;
  font-size: 17px;
}

#login_button
{
  width: 54%; height: 52px; border:5px;
  background: linear-gradient(to bottom, rgb(51, 171, 238) 0px, rgb(16, 138, 206) 100%) repeat scroll 0% 0% transparent;
  font-size: 17px;
  color: white;
}

#shared_links
{
  margin-left: 129px; text-align: left;
}

#facebook
{
  background-image: url("icons.png");
  background-position: -532px 0px;
  border: 0px;
  background-color: rgb(0, 109, 204);
  width: 45px;
  height: 45px;
  font-size: 17px;
}

#facebook_button
{
  height: 53px;
  width: 246px;
  border-left: 0px;
  background-color: rgb(0, 109, 204);
  font-size: 17px;
}

#cross
{
 margin-right: 25px; margin-top: 10px;
}

#image_style
{
  float:left;
  margin:0px;
  line-height:0px;
  padding:0px;
  border:0px;
  height: 150px;
  width: 100px;
}

#image_div
{
  margin: -5px;
}

#input_medium
{
  float: left;
  height: 40px;
  width: 220px;
}

#input_large
{
  margin-left: -40px;
  height: 40px; width: 440px;
}

.header-right{
  background: url("header_bar.png");
  height: 40px;
  width: 100%;
}

.icon-size{
  width: 10px;
  height: 10px;
}

#first-gray{
  background-color: black;
  cursor: pointer;
}

#first-purple{
  background-color: purple;
  cursor: pointer;
}

#first-green{
  background-color: green;
  cursor: pointer;
}

#image_modal
{
  height: 150px;
  width: 100px;
}

#hide-overflow
{
  text-overflow: ellipsis;
  width: 200px;
  overflow: hidden;
}